<!doctype html>
<html lang="en">
  <head>
  	<title>College</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet"
	href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
<link rel="stylesheet"
	href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.rtl.min.css" />
<!-- Default theme -->
<link rel="stylesheet"
	href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.rtl.min.css" />
<!-- Semantic UI theme -->
<link rel="stylesheet"
	href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.rtl.min.css" />
<script
	src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
	function sendMail() {
		
		var inputPayload = {
			"email" : $("#emailId").val()
		}
		
		var inputPayloadString = JSON.stringify(inputPayload);
		jQuery.ajax({
			type : 'POST',
			cache : true,
			async : false,
			contentType : 'application/json',
			dataType : 'json',
			url : location.origin + "/sendMail",
			data : inputPayloadString,
			success : function(data) {
				window.location.assign(location.origin + "/resetPasswordMail")
			},error : function(data) {
				alertify.error('Email not exists!!!')
			}
		});
	}
	</script>
	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Forget Password</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap py-5">
		      	<div class="img d-flex align-items-center justify-content-center" style="background-image: url(images/bg.jpg);"></div>
		      	
						<form action="#" class="login-form">
						
		      		<div class="form-group">
		      			<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-user"></span></div>
		      			<input type="text", name="email" class="form-control" placeholder="Email" id="emailId" required>
		      		</div>
	            
	            <div class="form-group">
	            	<button type="submit" class="btn form-control btn-primary rounded submit px-3" onclick="sendMail();event.preventDefault();">Send reset link</button>
	            </div>
	          </form>
	          <div class="w-100 text-center mt-4 text">
		          <a href="/">Sign In?</a>
	          </div>
	        </div>
				</div>
			</div>
		</div>
	</section>

	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

	</body>
</html>

